//
   Created by Daniele on 09/08/2015.

extends layout
block content
h1 Partita ancora da disputare
block mainbar

block mainleft
    div.btn-group-vertical
        a.btn.btn-info(onclick='window.history.back()') Indietro
        a.btn.btn-info(href="/utente") Principale