//
   Created by Schiappacassed on 19/09/2015.

extends layout
block content
    script(src='/javascript/signin.js')
    h1.text-left Definizione Squadra
    div.alert.alert-danger
        a.close(href='#',data-dismiss='alert', aria-label='close') &times;
        |<strong> Attenzione </strong> Bisogna correggere prima di inviare
    div.alert.alert-success
        a.close(href='#',data-dismiss='alert', aria-label='close') &times;
        |<strong> Successo </strong> Salvataggio completo
block mainleft
    form(name='cambia',id="form_signin" , method='post', action='/signin')
        table.table
            tbody
                tr
                    td Nome Squadra
                    td
                        input.G1(type="text" , name="squadra", value="")
                tr
                    td Password
                    td
                        input.G2(type="password" , name="password", value="")
                tr
                    td Ripeti Password
                    td
                        input.G3(type="password" , name="G3", value="")
                tr
                    td Email
                    td
                        input.G4(type="email" , name="email", value="")
                tr
                    td Promemoria
                    td
                        input.G5(type="checkbox" , name="checkb", value="Attiva")
    div.btn-group-vertical
        a.btn.btn-info(onclick="valida()") Registrati